body {
    background-color: white;
   
  
  }
#tabla1 {    
    background-color: white;
    overflow-y: auto;
    width: 24%; 
    }
#tabla2 {
    overflow-y: auto;
    width:52%;
    font-size: 15px;
    }
#tabla3 {
    background-color: white;
    overflow-y: auto;
    width: 24%; 
    }
.tableleft {
    width: 20vw;
    height: 11.5vw;
}
.tablecenter {
    width: 197px;
    height: 136px;       
    border-radius: 10px;
    margin-right: 4em;
}
.tablerigth {
    width: 20vw;
    height: 11.5vw;
   
    border-radius: 10px;
    margin-left: 7%;
}
.heater{
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container {
    display: flex;
    flex-direction: row;
    width: 100vw;  
}
section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
    max-width: none;
}
article {
    display: flex;
    flex-direction: row;
    transition: 1s;
    cursor: pointer;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
article:hover {
    background-color: #f5f3f2;
}
strong {
    font-size: 15px;
    text-align: start;
    padding-left: 5em;
  }
  p {
    color: #667389;
    font-size: 15px;
    text-align: start;
    padding-left: 5em;
    padding-right: 6em;
  }
  hr {
    border: 0.1px solid #eff2f5;
  }
  a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  .background-image {
    background-image: url("./design/cryptoeuphoria\ logo.jpg");
    /* Ajustar la posición y el tamaño de la imagen */
    background-position: center;
    background-size: cover;
    /* Fijar la imagen en la ventana de visualización */
    background-attachment: fixed;
    opacity: 0.8;
  }
  h1 {
    font-weight: normal;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .boxsubscribe {
    margin-bottom: 3em;
    margin-top: 3em;
    text-align: center;
  }
  button {
    border: solid 1px;
    border-radius: 3px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
#country-select {
  font-size: 15px;
  width: 12em;
}
